<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=VSTIDB;User Id=aps;Password=aps;Integrated Security=no" />
		<add key="FTP_SERVER" value="ftp://192.168.1.15/NET/NETTMC2/" />
		<add key="FTP_ID" value="MES" />
		<add key="FTP_PASS" value="!saigon3535!" />
		<add key="FILE_LIST" value="filelist.xml" />
		<add key="START" value="NetTMC.exe" />
		<add key="DB_VER" value="4" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>